.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgb(247, 243, 4);
}

.box{
    position: fixed;
    bottom: 10px;
    right: 20px;
    margin-bottom: 30px;
}